@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Noto+Serif+Thai:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Open_Sans_Condensed";
  src: url("../assets/font/open-sans-condensed/OpenSans-CondBold.ttf")
      format("woff2"),
    url("../assets/font/open-sans-condensed/OpenSans-CondLight.ttf")
      format("woff"),
    url("../assets/font/open-sans-condensed/OpenSans-CondLightItalic.ttf")
      format("woff");
  font-weight: normal;
  font-style: normal;
}
/* svg line animation start  */

.myLine {
  /* stroke-dasharray: 200; */
  stroke: #005564;
}
.myLine {
  /* stroke-dasharray: 10; */
  animation: dash 4s linear infinite forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 100;
  }
}

/* .path {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation: dash 5s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 10;
  }
} */

/* .path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear alternate infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 822;
  }
  to {
    stroke-dashoffset: 0;
  }
} */
/* svg line animation end  */

.backdrop {
  background: rgba(251, 251, 251, 0.03);
  backdrop-filter: blur(10.5px);
}
.nav__background {
  background: rgba(251, 251, 251, 0.03);
}

/* background image start */
.banner__background {
  background-image: url("../assets/images/banner/banner.webp");
}
.it__support {
  background-image: url("../assets/images/it-support/it-support.webp");
}
.subscribe {
  background-image: url("../assets/images/subscribe/subscribe.webp");
}
.footer {
  background-image: url("../assets/images/footer/footer.png");
}
.about {
  background-image: url("../assets/images/about/about.webp");
}
.about_mobile {
  background-image: url("../assets/images/about/about-mobile.webp");
}
.service_detail_header {
  background-image: url("../assets/images/service-detail/service-detail-header.webp");
}
.blog_header {
  background-image: url("../assets/images/blog/blog-header.webp");
}
.blog_hero_bg {
  background-image: url("../assets/images/blog-detail/blog-bg.webp");
}
.not_found {
  background-image: url("../assets/images/not-found/404-error-bg.webp");
}
/* background image end */

/* swiper slider start  */
.swiper-pagination-bullets .swiper-pagination-bullet {
  @apply bg-primary w-3 h-3 transition-all duration-300 ease-in;
}
.swiper-pagination-bullets .swiper-pagination-bullet-active {
  @apply h-3 w-8 rounded-lg;
}

/* swiper slider end */
/* scrollbar hidden start  */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
/* scrollbar hidden end  */

/* recent work start  */
.tabs a.active {
  @apply font-Inter font-medium text-sm md:text-xl bg-[#F5FAFF] py-2 md:py-[10px] px-3  text-primary border border-primary rounded-lg;
}

.tab-hover {
  overflow: hidden;
}

.tab-hover::after {
  background-color:#FF5E37;
  height: 100%;
  left: -35%;
  top: 0;
  transform: skew(50deg);
  transition-duration: 0.6s;
  transform-origin: top left;
  width: 0;
}

.tab-hover:hover:after {
  height: 100%;
  width: 135%;
}
/* recent work end */

/* Latest Posts start  */
.filter-button.active {
  @apply bg-secondary_color text-white;
}
/* Latest Posts end  */

.client .swiper-wrapper {
  transition-timing-function: linear;
  -webkit-transition-timing-function: linear !important;
  -o-transition-timing-function: linear !important;
}

.testimonial .swiper-slide {
  padding-top: 40px;
}

#testimonial .swiper-slide-active .testimonial-avatar {
  @apply h-20 w-20 -mt-10 mb-4 border-primary;
}
#testimonial .swiper-slide-active .testimonial-name {
  @apply text-xl mb-3;
}
#testimonial .swiper-slide-active .testimonial-date {
  @apply text-sm;
}
#testimonial .swiper-slide-active .testimonial-comment {
  @apply text-lg text-black/60;
}
#testimonial .swiper-slide-active .testimonial-card {
  @apply p-6;
}

/* scroll Top Button start */
.scrollTopButton {
  @apply fixed bottom-10 right-5 z-50 h-10 w-10 flex items-center justify-center bg-primary text-white text-xl rounded-full transition-all duration-300 scale-0;
}

.scrollTopButton.show {
  @apply scale-100;
}
/* scroll Top Button start */

/* btn start  */

.view-btn::after {
  content: "";
  width: 100%;
  height: 5px;
  left: 0;
  bottom: 0px;
  position: absolute;
  background-color: #ff5e37;
  transition: all 0.3s linear;
  z-index: -1;
}
.view-btn:hover::after {
  height: 100%;
  color: white;
  transition: all 0.1s linear;
}
/* btn end  */


.activePage {
  @apply border border-[#182C2F] rounded-lg relative;
}
.activePage::after {
  /* content: "";
  width: 9px;
  height: 9px;
  background-color: #659907;
  position: absolute;
  bottom: -10px;
  left: 2px;
  overflow: hidden;
  border-radius: 30%;
  z-index: -1; */
  /* content: "";
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background: #659907;
  position: absolute;
  bottom: -14px;
  left: -14px;
  transition: all 0.3s linear;
  z-index: -1; */
}

/* Navbar slide start  */
.main {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.element-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  color: #fff;
  max-width: 100%;
  position: relative;
}

.element {
  white-space: nowrap;
  transition: 0.3s;
  display: block;
  position: absolute;
  transform: translateX(100%);
}

.element.active {
  position: static;
  transform: translate(0);
}
/* Navbar slide end  */

.navlink {
  @apply border border-[#5A5B5C] rounded-lg py-[6px] px-3 flex items-center justify-center;
}

/* Navbar slide end  */

.about-bg {
  background: rgba(0, 0, 0, 0.54);
}

.mobile-menu {
  right: -241px;
}
.mobile-menu.show {
  right: 0px;
}

/* service animation start  */
@media screen and (min-width: 1024px) {
  .hover-card .box {
    position: absolute;
    height: calc(100% - 2px);
    width: calc(100% - 2px);
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    border-radius: 8px;
    z-index: 2;
  }
  
  .hover-card::before,
  .hover-card::after {
    content: "";
    height: calc(100% + 200px);
    width: calc(100% + 200px);
    @apply bg-primary;
    position: absolute;
    transform: rotate(45deg);
    z-index: 1;
    transition: 0.5s;
  }
  
  .hover-card::before {
    right: calc(100% - 60px);
    bottom: calc(100% - 60px);
  }
  
  .hover-card::after {
    left: calc(100% - 60px);
    top: calc(100% - 60px);
  }
  
  .hover-card:hover:before {
    right: 20%;
    bottom: 20%;
  }
  .hover-card:hover:after {
    top: 20%;
    left: 20%;
  }
}


/* service animation end  */



/* Counter start  */
.counter {
  animation-duration: 1s;
  animation-delay: 0s;
}
/* Counter end  */


/* practice start  */
.add-to-cart-btn1::before {
  content: "";
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background: #659907;
  position: absolute;
  bottom: -14px;
  left: -14px;
  transition: all 0.3s linear;
  z-index: -1;
}
.add-to-cart-btn1::after {
  content: "";
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background: #659907;
  position: absolute;
  top: -14px;
  right: -14px;
  transition: all 0.3s linear;
  z-index: -1;
}

.product-card1:hover .add-to-cart-btn1 {
  color: white;
}
.product-card1:hover .add-to-cart-btn1::after {
  height: 400px;
  width: 400px;
  right: -40%;
  top: -30%;
}
.product-card1:hover .add-to-cart-btn1::before {
  height: 400px;
  width: 400px;
  left: -40%;
  bottom: -30%;
}

/* practice end  */